@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');
.form-row{
    text-align: center;
    margin: 20px;
}
.confirm_button{
    padding-left: 20px;
}
button{
    margin-top: 20px;
    margin-left: 70px;
}

h4 {
    text-align: center;
    color:  #F1AA9B;
    margin: 20px auto;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: bold;
}

label{
    margin: 10px;
    font-weight: bolder;
    color: #30475e;
}
input{
    border: solid 1px  #30475e;
    border-radius: 5px;
}
#email{
    position: relative;
    left: 1rem;
}
.user_info{
    margin-top: 50px;
}
hr{
    width: 400px;
    margin: 5px auto 20px;
    border-bottom-color: #3c3c3c;
}
.btn-confirm1{
    position: relative;
    right: 100px;
}
